.App {
  margin-left: 30px;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 700px;
  justify-content: space-around;
  align-items: flex-start;
}
.list{
  border-radius: 7px;
}
.person {
  padding: 10px;
  width: 200px;
  cursor: pointer;
  border: 1px solid gray;
}

.person:hover{
  background-color: rgb(162, 15, 15);
  color:aliceblue;
}
  


.person:nth-child(n+2) {
  border-top: 0;
}

.person__details {
  width: 300px;
}

.person__photo {
  display: block;
  width: 300px;
}

.person__details>div:nth-child(n+2) {
  border: 1px solid gray;
}

.person__details>div:nth-child(n+2) {
  border-top: 0;
}

.person__name {
  padding: 30px 10px;
}

.Det {
  padding: 10px;
}